@import url("https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;500;700&display=swap");

* {
  list-style: none;
  overflow-x: hidden !important;
  color: white;
}
body {
  margin: 0%;
  padding: 0%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(50deg, #133b5c, black);
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.topnav {
  z-index: 9 !important;
}

.nav-link {
  color: rgb(243, 222, 222) !important;
  cursor: pointer;
}

.txt .video {
  width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  overflow: hidden;
  height: 100vh;
  z-index: -2;
  pointer-events: none;
  filter: brightness(40%);
}

.categories .menu {
  font-family: "Titillium Web", sans-serif;
  text-decoration: none;
  text-emphasis: none;
  margin-left: 65%;
  margin-top: 0.5em;
  font-weight: 600;
}

.menu1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  margin-left: 5%;
  margin-top: 0.5em;
}

.menu li,
.menu1 li {
  font-size: 1.2em;
  line-height: 2em;
  margin-left: 2.5em;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

.home h1,
.list li {
  font-family: "Sarpanch", sans-serif;
  color: white;
  /* background: -webkit-linear-gradient(#ffffff, #e0e0e0da, #7a7a7a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.txt .logo {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.txt .label {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1em;
  text-align: center;
}

.txt .label h1,
.cont,
.txtcont1,
.ani1 h1,
.ani h1 {
  color: white;
  font-family: "Sarpanch", sans-serif;
  font-weight: bold !important;
  overflow: hidden;
}

.scroll {
  position: absolute;
  top: 95%;
  left: 95%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.2em;
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

.scroll img {
  width: 60%;
}

.scroll:hover,
.text-center .btn:hover {
  text-decoration: none;
  text-emphasis: none;
}

.contnt {
  height: 200vh;
  overflow: hidden;
}

h1 {
  overflow: hidden;
}

.cont {
  text-align: center;
  margin-top: 1em;
  width: 80% !important;
  margin-left: 10% !important;

  padding-top: 3%;
}

.map iframe {
  width: 100% !important;
}

.text-center .btn {
  font-family: "Sarpanch", sans-serif;
  font-weight: bold !important;
  color: #fcdab7;
  letter-spacing: 0.2em;
  border: 0.1em solid #1d2d50;
  padding: 1em;
  border-radius: 0.5em;
  background-color: #1d2d50;
}

.form .row {
  padding-left: 24%;
  padding-top: 2em;
  padding-bottom: 2em;
  border: 0.1em solid white;
  border-radius: 1em 0em 0em 1em;
}
.form1 {
  padding-left: 0%;
  border: 0.1em solid white;
  border-radius: 0em 1em 1em 0em;
  margin-bottom: 3em;
  padding-top: 5em;
  /* background: url("./logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 170%; */
}

.form .row h1 {
  margin-bottom: 1em;
}

.txtcont {
  letter-spacing: 1em;
  margin-top: 3em;
  text-shadow: 0.2em 0.2em 0.1em #1e5f74;
}

.img1 {
  margin-left: 50%;
  transform: translate(-50%, 0%);
}

.txtcont1 {
  text-align: center;
  letter-spacing: 1em;
  margin-top: 3em;
  text-shadow: 0.2em 0.2em 0.1em #1e5f74;
}

.frow .col-md-4,
.frow .col-md-2 {
  padding: 2em 3em 0em 3em;
  color: white;
}

.frow .col-md-4 {
  text-align: justify;
}

.frow .col-md-4 p {
  margin-top: 1em;
}

.frow .footertxt {
  font-size: 1em;
  margin-left: -2em;
  margin-bottom: -5em;
}

.footertxt li {
  margin-top: 2em;
  font-weight: bold;
}

.frow .col-md-12 {
  text-align: center;
  font-size: 1em;
  padding-top: 1em;
  font-weight: bold;
  letter-spacing: 0.3em;
}

.frow hr {
  font-weight: bolder;
  height: 0.01em;
  background-color: black;
}

.footertxt1 li {
  margin-top: 0.5em;
  font-weight: bolder;
  margin-left: -2em;
  text-align: justify;
  padding-right: 1em;
}

.footertxt1 img {
  width: 2.5em;
  margin-right: 1em;
}

.aero img {
  width: 5em;
}

.aero .row .col-md-4:nth-child(1) img {
  width: 3.5em;
}

.aero {
  margin-bottom: 1.5em;
}

.aero .row .col-md-4 {
  overflow: hidden;
}

.aero .col-md-4:nth-child(2),
.aero .col-md-4:nth-child(3) {
  margin-top: 1em !important;
}

.aero .col-md-4:nth-child(2) a,
.aero .col-md-4:nth-child(3) a {
  padding: 1em !important;
}

.aero a:hover {
  text-decoration: none;
  text-emphasis: none;
  color: grey !important;
}

a,
a:visited,
a:link {
  color: white;
  text-decoration: none;
  text-emphasis: none;
}

.frow a:hover {
  color: rgb(139, 139, 139) !important;
  text-decoration: none !important;
  text-emphasis: none !important;
}

.footertxt2 li {
  display: inline;
  margin-left: -2em;
  margin-right: 5em;
}

.footertxt1 span {
  margin-left: 3.5em;
}

/* 
.footertxt2 li img {
  filter: invert(1);
} */

.pro {
  padding: 1em;
}

.prod {
  background-color: #133b5c;
  padding: 2em;
  text-align: center;
}

.prod1 {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(10%, -50%);
  letter-spacing: 1em;
  color: #fcdab7;
}

#active,
#active1,
#active2,
#active3,
#active4,
#active5,
#active6,
#active7 {
  display: none;
}

.list li {
  font-size: 2em;
  text-align: center;
  padding: 1em;
}

.list li span {
  border: 0.1em solid #133b5c;
  padding: 0.5em 1em 0.5em 1em;
  letter-spacing: 0.5em;
  border-radius: 0.5em;
  box-shadow: 0.2em 0.2em 0.2em #1d2d50;
  cursor: pointer;
}

.prologo img {
  filter: brightness(200%);
}

/*Animation*/

.ani {
  position: absolute;
  top: 52%;
  left: -100%;
  color: #fcdab7;
  transform: translate(-50%, -50%);
  animation: animate 5s linear forwards;
  text-align: center;
  letter-spacing: 1em;
}

@keyframes animate {
  0% {
    left: -100%;
  }
  100% {
    left: 43.8%;
  }
}

.hide {
  animation: animate1 1s linear forwards;
  animation-delay: 4s;
}

@keyframes animate1 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ani1 {
  position: absolute;
  top: 52%;
  left: -200%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fcdab7;
  animation: animate2 5s linear forwards;
  letter-spacing: 1em;
}

@keyframes animate2 {
  0% {
    left: 210%;
    width: 100%;
  }
  100% {
    left: 60.6%;
    width: 100%;
  }
}
