#main {
  display: none;
}

.loader {
  width: 100%;
  height: 100vh;
}

.loader .video {
  top: 0%;
  left: 0%;
  position: absolute;
  object-fit: cover;
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 512px) {
  .loader {
    transform: scale(0.5);
  }
}
